name: Unit Test and Documentation

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install uv
        run: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            export PATH="$HOME/.local/bin:$PATH"
            uv --version
      - name: Install dependencies with uv
        run: |
          uv venv .venv
          source .venv/bin/activate
          uv pip install numpy pytest matplotlib pennylane math 

      - name: Test with pytest
        run: |
          source .venv/bin/activate
          pytest --verbose